/* RESET RULES  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Vibur", cursive;
    font-size: 1.2em;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}


/* LAYOUT */

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
}

.col-4 {
    width: calc(100% / 3);
}

.col {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* HEADER  */

header {
    height: 150px;
    background-image: url('../img/wall.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header_title {
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
}

/* BODY  */

body {
    background-image: url('../img/cork.png');
    padding-bottom: 50px;
}

/* CARD  */

.photo_card_main {
    padding: 1em;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.photo_card_main p {
    padding: 16px 0px 16px 0px;
    margin-top: auto;
}

.photo_pin {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/*
immagini grandezza 260px 
*/
#photo_img {
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}


/* MEDIA QUERIES  */

/* versione tabled */
@media (max-width: 991.99px) {}

/* versione mobile */
@media (max-width: 767.99px) {}